


/* //////////////////////////////////////////////////////////////////////////////
// Partial Classes (Prefix)
////////////////////////////////////////////////////////////////////////////// */
$pre_is='.is-'


$pre_index   =$join($pre_is,'i')
$pre_spans   ='.spans-'
$pre_offsets ='.offsets-'



/* //////////////////////////////////////////////////////////////////////////////
// Classes
////////////////////////////////////////////////////////////////////////////// */
$cl_group    ='.group'
$cl_groups   ='.groups'
$cl_group_ch ='.col'

/* //////////////////////////////////////////////////////////////////////////////
// Flags is-x
////////////////////////////////////////////////////////////////////////////// */
$cl_flag_resp     = $join($pre_is,'resp')
$cl_flag_resp_tab = $join($pre_is,'resp-tablet')

/* //////////////////////////////////////////////////////////////////////////////
// Size Rhythm
////////////////////////////////////////////////////////////////////////////// */

$size_labels = '000' '00' 0 1 2 3 4 5 6 7 8 9 99 

$c=0
for $v in range(0.25, 3.5, 0.25)
  $suf= '-' + $size_labels[$c]
  $var ='$_size' + $suf
  define( $var, unquote($join($v,'rem')) )
  //p($var)
  $c=$c+1

/* //////////////////////////////////////////////////////////////////////////////
// Garnish Sizes are generally smaller (gutter,brim)
////////////////////////////////////////////////////////////////////////////// */
$garnishes ={
  x:0px, sm:1px, std:5px, md:10px, lg:15px, xl:20px, xxl:30px
}

$garnish-x   = 0px
$garnish-sm  = 1px
$garnish     = 5px
$garnish-md  = 10px
$garnish-lg  = 15px
$garnish-xl  = 20px
$garnish-xxl = 50px

/* //////////////////////////////////////////////////////////////////////////////
// Grid Systems
////////////////////////////////////////////////////////////////////////////// */

$screens = {
   micro:0,
   mobile:360,
   tablet:768,
   desktop:1024,
   whd:1216,
   fhd:1440,
   hd:1920,
   ultra:2560
}
