


/* //////////////////////////////////////////////////////////////////////////////
// Partial Classes (Prefix)
////////////////////////////////////////////////////////////////////////////// */
$pre_is='.is-'


$pre_index   =__join($pre_is,'i') //is-i<n>
$pre_spans   ='.spans-'   
$pre_offsets ='.offsets-'

$pre_size    =__join($pre_is,'size-') //is-size-<s>

/* //////////////////////////////////////////////////////////////////////////////
// Classes
////////////////////////////////////////////////////////////////////////////// */

$cl_groups   ='.groups'
$cl_group    ='.row'
$cl_group_ch ='.col'

$cl_ttl      = '.title'
$cl_ttl_is   = __join($pre_is,'title') //is-title

$cl_subttl   = '.subtitle'

/* //////////////////////////////////////////////////////////////////////////////
// Flags is-x
////////////////////////////////////////////////////////////////////////////// */

$cl_flag_resp = __join($pre_is,'resp') //is-resp


/* //////////////////////////////////////////////////////////////////////////////
// Grid Systems
////////////////////////////////////////////////////////////////////////////// */

$basis=16

$roundby=3


$screens = { 
  micro:0,mobile:360,tablet:768,desktop:1024,widehd:1216,fullhd:1440,jumbohd:1920,ultra:2560
}

$screen_list = 'micro' 'mobile' 'tablet' 'desktop' 'wide' 'full' 'jumbo' 'ultra'

$micro    = $screens[ 'micro'   ]
$mobile   = $screens[ 'mobile'  ] // 22.5em //360px
$tablet   = $screens[ 'tablet'  ] // 48em //768
$desktop  = $screens[ 'desktop' ]
$widehd   = $screens[ 'widehd'  ]
$fullhd   = $screens[ 'fullhd'  ] //1440
$jumbohd  = $screens[ 'jumbohd' ] //1920
$ultrahd  = $screens[ 'ultra'   ] //2560

/* //////////////////////////////////////////////////////////////////////////////
// Size Rhythm
////////////////////////////////////////////////////////////////////////////// */

$size_labels = '000' '00' 0 1 2 3 4 5 6 7 8 9 99 999 
$size_step   = 0.25
$size_max    = 3.5

$c=0
for $v in range(0.25, $size_max, $size_step)
  $suf= '-' + $size_labels[$c]
  $var ='$_size' + $suf
  define( $var, unquote(__join($v,'rem')) )
  $c=$c+1

/* //////////////////////////////////////////////////////////////////////////////
// Garnish Sizes are generally smaller (gutter,brim)
////////////////////////////////////////////////////////////////////////////// */
$garnishes ={
  x:0px, sm:1px, std:5px, md:10px, lg:15px, xl:20px, xxl:30px
}

$garnish-x   = 0px
$garnish-sm  = 1px
$garnish     = 5px
$garnish-md  = 10px
$garnish-lg  = 15px
$garnish-xl  = 20px
$garnish-xxl = 50px
