



/* //////////////////////////////////////////////////////////////////////////////
// Tester
////////////////////////////////////////////////////////////////////////////// */
.loaded-lib-mixins
  background green
  


/* borrowed from nib  */

clearfix()
  &:before
  &:after
    content: ""
    display: table
  &:after
    clear: both
  zoom: 1 if support-for-ie



reset-font()
  font-weight: inherit
  font-style: inherit
  font-family: inherit
  font-size: 100%
  vertical-align: baseline
  
reset-table()
  border-collapse: separate
  border-spacing: 0
  vertical-align: middle


size()
  if length(arguments) == 1
    width   arguments[0]
    height  arguments[0]
  else
    width   arguments[0]
    height  arguments[1]

whitespace()
  white-space: arguments
  
no-wrap = unquote('nowrap')


ellipsis(no-wrap = true)
  if no-wrap
    white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

shadow-stroke(n)
  text-shadow: -1px -1px 0 n, 1px -1px 0 n, -1px 1px 0 n, 1px 1px 0 n

/************************************************************/


__layout_brim(n)
  padding n 0 n 0
  
  
__layout_gutter(n)
  padding 0 n 0 n


__box_reset_full()
  margin 0
  padding 0
  border 0
  outline 0

__box_reset()
  margin 0
  padding 0

/************************************************************/

__media_from( $devive )
  @media screen and (min-width __rem($device))
    {block}
    
__media_to( $devive )
  @media screen and (max-width __rem($device))
    {block}



__micro()
   @media screen and (min-width __rem($micro))
     {block}

__micro_only()
   @media screen and (min-width __rem($micro)) and (max-width __rem($mobile))
     {block}   


__mobile()
   @media screen and (min-width __rem($mobile))
     {block}

__mobile_only()
   @media screen and (min-width __rem($mobile)) and (max-width __rem($tablet))
     {block}
     

   
__tablet()
   @media screen and (min-width __rem($tablet))
     {block}

__tablet_only()
   @media screen and (min-width __rem($tablet)) and (max-width __rem($desktop))
     {block}


__touch()
   @media screen and (max-width __rem($desktop))
     {block}
   




__desktop()
   @media screen and (min-width __rem($desktop))
     {block}
     
__desktop_only()
   @media screen and (min-width __rem($desktop)) and (max-width __rem($widehd))
     {block}

   


__widehd()
   @media screen and (min-width __rem($widehd))
     {block}

__widehd_only()
   @media screen and (min-width __rem($widehd)) and (max-width __rem($fullhd))
     {block}
   

__fullhd()
   @media screen and (min-width __rem($fullhd))
     {block}

__fullhd_only()
   @media screen and (min-width __rem($fullhd)) and (max-width __rem($jumbohd))
     {block}
   
   
jumbohd()
   @media screen and (min-width __rem($jumbohd))
     {block}

__jumbohd_only()
   @media screen and (min-width __rem($jumbohd)) and (max-width __rem($ultrahd))
     {block}
     

__hd_only()
   @media screen and (min-width __rem($widehd)) and (max-width __rem($ultrahd))
     {block}
   



__ultrahd()
   @media screen and (min-width __rem($ultrahd))
     {block}



