

/* //////////////////////////////////////////////////////////////////////////////
// Tester
////////////////////////////////////////////////////////////////////////////// */
.loaded-lib-vars
  background green

/* //////////////////////////////////////////////////////////////////////////////
// Activators
////////////////////////////////////////////////////////////////////////////// */


$use_debug = true

/* //////////////////////////////////////////////////////////////////////////////
// System Vars
////////////////////////////////////////////////////////////////////////////// */

$lang_rtl=false

$rootfont = 100% //16px = 1em

$basefamily = Arial, Helvetica, sans-serif
  
$offset_dir = ( $lang_rtl ? right : left )

$flex_max = 49

$line_height=1.15 //8pt softgrid rhythm?

/* //////////////////////////////////////////////////////////////////////////////
// Typography
////////////////////////////////////////////////////////////////////////////// */

$h1 ?= $size-8 
$h2 ?= $size-7
$h3 ?= $size-6
$h4 ?= $size-5
$h5 ?= $size-4
$h6 ?= $size-3 // size-8 = 1em

//mobile 320 360 400
$size-000 ?= $_size-000
$size-00  ?= $_size-00
$size-0   ?= $_size-0
$size-1   ?= $_size-1
$size-2   ?= $_size-2
$size-3   ?= $_size-3
$size-4   ?= $_size-4
$size-5   ?= $_size-5
$size-6   ?= $_size-6
$size-7   ?= $_size-7
$size-8   ?= $_size-8
$size-9   ?= $_size-9
$size-99  ?= $_size-99
$size-999 ?= $_size-999

$sizes = $size-000 $size-00 $size-0 $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 $size-8 $size-9 $size-99 $size-999

.test-size
  height:$size-1


/* //////////////////////////////////////////////////////////////////////////////
// 
////////////////////////////////////////////////////////////////////////////// */


// :root
//   --gx 0px
//   --gsm 1px
//   --gstd 5px
//   --gmd 10px
//   --glg 15px
//   --gxl 20px
//   --gxxl 50px
/* static */
/*
1
1.2
1.44
1.728
2.074


*/

// family-mono
// family-sans-serif
// family-serif

// base-font-family    : Arial, Helvetica, sans-serif
// base-font-size      : 12px

// base-mono-font      :
// base-mono-size      :

// base-underline-color:
// base-focus-color    :
// base-mark-color     :

// base-input-font     :
// base-textarea-font  :

// base-anchor-color   :
// base-visited-color  :
// base-hover-color    :

// base-text
// base-link
// base-hover
// base-fg
// base-bg

// red tropical
// orange hyper
// yellow lemon yellow-0 yellow-1 yellow-2 yellow-3
// green lime green-0 green-1 green-2 green-3
// blue electric blue-0 blue-1 blue-2 blue-3
// cyan
// purple grape purple-0 purple-1 purple-2 purple-3
// pink 
// tan
// grey
// black
// white




// gap
// space

// watch
// mobile
// tablet
// laptop
// desktop
// widescreen
// highdef
// jumbo
// kiosk
// print

// size-000    :
// size-00     :
// size-0      :
// size-1      :
// size-2      :
// size-3      :
// size-4      :
// size-5      :
// size-6      :
// size-7      :
// size-8      :
// size-9      :

// color-0
// color-1
// color-2
// color-3
// color-4
// color-5
// color-6
// color-7
// color-8
// color-9
// color-10
// color-11
// color-12
// color-13
// color-14
// color-15
// color-16

// color-0-inv
// color-1-inv
// color-2-inv
// color-3-inv
// color-4-inv
// color-5-inv
// color-6-inv
// color-7-inv
// color-8-inv
// color-9-inv
// color-10-inv
// color-11-inv
// color-12-inv
// color-13-inv
// color-14-inv
// color-15-inv
// color-16-inv
// /* derived */

// primary
// secondary
// terciary

// debug
// info
// success
// warning
// error
// fatal
// danger
// trace

// debug-inv
// info-inv
// success-inv
// warning-inv
// error-inv
// fatal-inv
// danger-inv
// trace-inv

// size-xx-sm    :
// size-x-sm     :
// size-med      :
// size-lg       :
// size-x-lg     :
// size-xx-lg    :

// display-sm    :
// display-md    :
// display-lg    :
// display-xl    :
// display-xxl   :
