/* //////////////////////////////////////////////////////////////////////////////
// System Vars
////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////
// Grid Systems
////////////////////////////////////////////////////////////////////////////// */

$basis      = 16
$roundby    = 3
$lang_rtl   = false
$offset_dir = ( $lang_rtl ? right : left )
$flex_max   = 49
$line_height= 1.15 //8pt softgrid rhythm?
$rootfont   = 100% //16px = 1em
$basefamily = Arial, Helvetica, sans-serif

