/* //////////////////////////////////////////////////////////////////////////////
// Partial Classes (Prefix)
////////////////////////////////////////////////////////////////////////////// */
$pre_is='.is-'


$pre_index   = $pre_is + 'i' //is-i<n>
$pre_spans   ='.spans-'   
$pre_offsets ='.offsets-'

$pre_size    = $pre_is + 'size-' //is-size-<s>

/* //////////////////////////////////////////////////////////////////////////////
// Classes
////////////////////////////////////////////////////////////////////////////// */

$cl_layout_tbl ='.groups'
$cl_layout_row ='.row'
$cl_layout_col ='.col'

$cl_ttl      = '.title'
$cl_ttl_is   = $pre_is + 'title' //is-title

$cl_subttl   = '.subtitle'
