/* //////////////////////////////////////////////////////////////////////////////
// Grid Systems
////////////////////////////////////////////////////////////////////////////// */

$screens = { 
  micro:0,mobile:360,tablet:768,desktop:1024,widehd:1216,fullhd:1440,jumbohd:1920,ultra:2560
}

$screen_list = 'micro' 'mobile' 'tablet' 'desktop' 'wide' 'full' 'jumbo' 'ultra'

$micro    = $screens[ 'micro'   ]
$mobile   = $screens[ 'mobile'  ] // 22.5em //360px
$tablet   = $screens[ 'tablet'  ] // 48em //768
$desktop  = $screens[ 'desktop' ]
$widehd   = $screens[ 'widehd'  ]
$fullhd   = $screens[ 'fullhd'  ] //1440
$jumbohd  = $screens[ 'jumbohd' ] //1920
$ultrahd  = $screens[ 'ultra'   ] //2560

