/* //////////////////////////////////////////////////////////////////////////////
// Critical Strings
////////////////////////////////////////////////////////////////////////////// */


$dot='.'
$dash='-'
$amp='&'

$attr_in='~='
$attr_pre='^='
$attr_suf='$='
$attr_any='*='

$dash_i='-%s'
$under_i='_%s'

/* //////////////////////////////////////////////////////////////////////////////
// Partial Classes (Prefix)
////////////////////////////////////////////////////////////////////////////// */


$pre_is   = $dot + $L_is    + $dash         //.is-
$pre_has  = $dot + $L_has   + $dash         //.has-
$pre_no   = $dot + $L_spans + $dash         //.no-
$pre_with = $dot + 'with' + $dash 

$pre_index   = $pre_is + $L_i             //.is-i<n>
$pre_spans   = $dot + $L_spans   + $dash  //.spans-<n>
$pre_offsets = $dot + $L_offsets + $dash  //.offsets-<n>

$pre_size    = $pre_is + $L_size + $dash  //.is-size-<s>


/* //////////////////////////////////////////////////////////////////////////////
// Elements
////////////////////////////////////////////////////////////////////////////// */

$cl_ttl      = $dot + $L_title    //.title
$cl_ttl_is   = $pre_is + $L_title //.is-title

$cl_subttl   = $dot + $L_subtitle //.subtitle


/* //////////////////////////////////////////////////////////////////////////////
// Flex Simple
////////////////////////////////////////////////////////////////////////////// */

$cl_layout_tbl = $dot + $L_groups //.groups
$cl_layout_row = $dot + $L_row    //.row
$cl_layout_col = $dot + $L_col    //.col

$cl_with_gaps    = $pre_with + 'gaps';
$cl_with_sm_gaps = $pre_with + 'sm-gaps';

/* //////////////////////////////////////////////////////////////////////////////
// Flex Advanced
////////////////////////////////////////////////////////////////////////////// */

$cl_container = $dot + $L_container //.container


$pre_grid = $dot + $L_flex_grid + $dash  //.grid-
$pre_cell = $dot + $L_flex_cell + $dash  //.cell-


$cl_flex_grids = $dot + $L_flex_grid + 's' //.grids

$cl_flex_grid = $dot + $L_flex_grid //.grid
$cl_flex_cell = $dot + $L_flex_cell //.cell

$cl_attr_grid         = __attr_class($cl_flex_grid, $attr_in)  // [class~=grid]
$cl_attr_grid_any     = __attr_class($cl_flex_grid, $attr_any) // [class*=grid]

$cl_attr_pre_grid_s   = __attr_class($L_flex_grid + $dash_i, $attr_in)    // [class~=grid-%s]
$cl_attr_pre_grid_any = __attr_class($pre_grid, $attr_any) // [class*=grid-]

$cl_attr_cell         = __attr_class($cl_flex_cell, $attr_in)  // [class~=cell]
$cl_attr_cell_any     = __attr_class($cl_flex_cell, $attr_any) // [class*=cell]

$cl_attr_pre_cell_s   = __attr_class($L_flex_cell + $dash_i, $attr_in) // [class~=cell-%s]
$cl_attr_pre_cell_any = __attr_class($pre_cell, $attr_any) // [class*=cell-]

$cl_attr_screen_s     = __attr_class($under_i + $dash_i, $attr_any) // class*=["_%s-%s"]


/* //////////////////////////////////////////////////////////////////////////////
// mini directions
////////////////////////////////////////////////////////////////////////////// */


$attr_top= __attr_short( 't', 'top' )
$attr_mid= __attr_short( 'm', 'mid' )
$attr_btm= __attr_short( 'b', 'btm' )

/* //////////////////////////////////////////////////////////////////////////////
// Flags is-x
////////////////////////////////////////////////////////////////////////////// */

$cl_flag_resp =  $pre_is + 'resp' //.is-resp


/* //////////////////////////////////////////////////////////////////////////////
// Modifiers
////////////////////////////////////////////////////////////////////////////// */

$cl_flag_xsm = $pre_is + $L_xsmall //.is-xsmall
$cl_flag_sm  = $pre_is + $L_small  //.is-small
$cl_flag_med = $pre_is + $L_medium //.is-medium
$cl_flag_lg  = $pre_is + $L_large  //.is-large
$cl_flag_xlg = $pre_is + $L_xlarge //.is-xlarge

/* //////////////////////////////////////////////////////////////////////////////
// Modifiers - Text
////////////////////////////////////////////////////////////////////////////// */

$cl_txt_cap  = $pre_is + $L_capital //.is-captial
$cl_txt_low  = $pre_is + $L_lower   //.is-lower
$cl_txt_up   = $pre_is + $L_upper   //.is-upper
$cl_txt_ital = $pre_is + $L_italic  //.is-italic
$cl_txt_sub  = $pre_is + $L_sub     //.is-sub
$cl_txt_sup  = $pre_is + $L_sup     //.is-sup

$cl_sans_marg   = $pre_no + $L_margins //.no-margins
$cl_sans_pad    = $pre_no + $L_padding //.no-padding
$cl_sans_radius = $pre_no + $L_radius  //.no-radius
$cl_sans_shadow = $pre_no + $L_shadow  //.no-shadow
$cl_sans_border = $pre_no + $L_border  //.no-border
 

/* //////////////////////////////////////////////////////////////////////////////
// Modifiers - Block/Flex
////////////////////////////////////////////////////////////////////////////// */

$cl_flag_hidden = $pre_is + $L_hidden //.is-hidden
$cl_flag_block  = $pre_is + $L_block  //.is-block

$cl_flag_static = $pre_is + $L_static //.is-static
$cl_flag_auto   = $pre_is + $L_auto   //.is-auto
/*
  [
  "orange"
  "yellow"
  "green"
  "blue"
  "purple"
  "pink"
  "white"
  "black"
  "grey"
  "teal"
  "lime"
  "tropical"
  "magenta"
  "neon"
  "lemon"
  "electric"
  "clear"
  "light"
  "lighter"
  "dark"
  "darker"
  "inverse"

  "full"
  "half"
  "third"
  "quarter"
  "fifth"
  "eighth"
  "tenth"
  "none"

  "visible"
  "hidden"
  
  "first"
  "last"              
  "next"
  "prev"
  "curr"
  "this"
  "that"

  "form"
  "button"
  "input"
  "radio"
  "field"]
 */
