
        
$sand_pink      =#F964CB
$sand_red       =#FA6563
$sand_orange    =#FFA64D
$sand_peel      =#da7f25 //darker
$sand_yellow    =#FFE056
$sand_golden    =#ceb430 //darker
$sand_green     =#94DA87
$sand_lime      =#d0fd87
$sand_pine      =#399e54
$sand_sky       =#75B8FB
$sand_electric  =#3399FF
$sand_dusk      =#6868DC
$sand_twilight  =#404058
$sand_darknight =#1C1D24
$sand_greybee   =#A9A9A9
$sand_cloud     =#e0e0e0
$sand_sadcloud  =#576879
$sand_puff2     =#b5b5b5
$sand_puff      =#e8e8e8

$arch_0 =#CBEAF3
$arch_1 =#c1e4ef
$arch_2 =#94d8Ed
$arch_3 =#55BCED
$arch_4 =#28A9E1
$arch_5 =#147bbc
$arch_6 =#0a6ba8
$arch_7 =#0c4e7a
$arch_a =#ddbb85

$lux_blue=#56bce1
$lux_blue_2=#2aabe1

$scale_0=$sand_pink
$scale_1=$sand_red 
$scale_2=$sand_peel 
$scale_3=$sand_golden
$scale_4=$sand_pine 
$scale_5=$sand_electric 
$scale_6=$sand_dusk 
$scale_7=$sand_twilight 
  
// $scale_inv_0
// $scale_inv_1
// $scale_inv_2
// $scale_inv_3
// $scale_inv_4
// $scale_inv_5
// $scale_inv_6
// $scale_inv_7

