/* //////////////////////////////////////////////////////////////////////////////
// Grid Systems
////////////////////////////////////////////////////////////////////////////// */

$screens = { 
  nano:0,mobile:360,tablet:768,desktop:1024,wide:1216,full:1440,jumbo:1920,ultra:2560
}

$screen_list = 'nano' 'mobile' 'tablet' 'desktop' 'wide' 'full' 'jumbo' 'ultra'

$nano     = $screens[ 'nano'   ]
$mobile   = $screens[ 'mobile'  ] // 22.5em //360px
$tablet   = $screens[ 'tablet'  ] // 48em //768
$desktop  = $screens[ 'desktop' ]
$wide     = $screens[ 'wide'    ]
$full     = $screens[ 'full'    ] //1440
$jumbo    = $screens[ 'jumbo'   ] //1920
$ultra    = $screens[ 'ultra'   ] //2560



