/* //////////////////////////////////////////////////////////////////////////////
// Includes
////////////////////////////////////////////////////////////////////////////// */

:root 
  background #ccc
  width __var('size-1',$size-1)



