$L_i=_('i')
$L_is=_('is')
$L_has=_('has')
$L_spans=_('spans')
$L_offsets=_('offsets')
$L_size=_('size')

$L_xsmall=_('xsmall')
$L_small=_('small')
$L_medium=_('medium')
$L_large=_('large')
$L_xlarge=_('xlarge')

$L_groups=_('groups')
$L_row=_('row')
$L_col=_('col')

$L_title=_('title')
$L_subtitle=_('subtitle')

$L_responsive=_('resp')

$L_capital=_('capital')
$L_lower=_('lower')
$L_upper=_('upper')
$L_italic=_('italic')
$L_sub=_('sub')
$L_sup=_('sup')
  
$L_margins=_('margins')
$L_padding=_('padding')
$L_radius=_('radius')
$L_shadow=_('shadow')
$L_border=_('border')

$L_nano=_('nano')
$L_mobile=_('mobile')
$L_tablet=_('tablet')
$L_desktop=_('desktop')
$L_wide=_('wide')
$L_full=_('full')
$L_jumbo=_('jumbo')
$L_ultra=_('ultra')

$L_hidden=_('hidden')
$L_block=_('block')
$L_static=_('static')
$L_auto=_('auto')
