
        
$sand_pink      =#F964CB
$sand_red       =#FA6563
$sand_orange    =#FFA64D
$sand_yellow    =#FFE056
$sand_green     =#94DA87
$sand_sky       =#75B8FB
$sand_electric  =#3399FF
$sand_dusk      =#6868DC
$sand_twilight  =#404058
$sand_darknight =#1C1D24
$sand_greybee   =#A9A9A9
$sand_cloud     =#e0e0e0

$arch_0 =#CBEAF3
$arch_1 =#c1e4ef
$arch_2 =#94d8Ed
$arch_3 =#55BCED
$arch_4 =#28A9E1
$arch_5 =#147bbc
$arch_6 =#0a6ba8
$arch_7 =#0c4e7a
$arch_a =#ddbb85

$lux_blue=#56bce1
$lux_blue_2=#2aabe1
