/* //////////////////////////////////////////////////////////////////////////////
// Util
////////////////////////////////////////////////////////////////////////////// */

  __join()
    join('',arguments)


  // __root()
  //   __var_def('size-2',$size-2)
  //   __var_def('size-3',$size-3)
  //   weight __var('size-3',$size-3)
   
/* //////////////////////////////////////////////////////////////////////////////
// FX
////////////////////////////////////////////////////////////////////////////// */
    
  __fontsize($ref="")
    $len = fx_make_size_iter(1)
    for $i in (1..$len)
      $v=fx_make_size_iter()
      $key='$'+$size_prefix+$v+'' //size-000
      
      &{$pre_size}{$v}
        font-size: __rem(lookup($key))


  __basis_width($slot)
    round( percentage( $slot/$basis ), 3 )    

  __natural_basis($i)
    if $use_natural
      $cl=fx_perc_frac($i)    
      if $cl    
        return unquote($pre_is + $cl)

//cachebust on the limits of a range 1..$basis 
//because joining limit classes causes css precendence conflict
 __cachebust_str($i)
    return($i==1||$i==$basis?$i:'')

/* //////////////////////////////////////////////////////////////////////////////
// CSS Vars
////////////////////////////////////////////////////////////////////////////// */   

 //returns var(--val) or just val
  __var($key,$val)
    unquote(fx_css_var($key,$val))
 
 //--key:val
  __var_def($key,$val)
    if fx_css_canvar() == true
      add-property('--'+$key,$val)
      
/* //////////////////////////////////////////////////////////////////////////////
// Config
////////////////////////////////////////////////////////////////////////////// */  
 
  __config($key,$ov=null)
    $typeov=typeof($ov)
    
    if ($typeov isnt 'null') && ($typeov isnt 'ident')
      //p(typeof($ov) +' '+$key)
      $ov
    else  
      
      $this = fx_get_config($key)
      $type = typeof($this)
    
      if $type == 'string'
       unquote($this)
      else if $type == 'null'
        p($key + ' => ' +typeof($this))
      else 
       $this
    //p($val)
    //return $val
          
      
          
    
  __device()
    1
    
  __size_meta($key)
    $this = fx_size_meta($key)
    if typeof($this) == 'string'
     unquote($this)
    else if typeof($this) == 'null'
      p($key + ' => ' +typeof($this))
    else 
      $this
        

/* //////////////////////////////////////////////////////////////////////////////
// Units
////////////////////////////////////////////////////////////////////////////// */   
  __em($val,$offset=0)
    p($val,$basis)
    $val = $val / $basis
    unquote(__join($val,'em'))

  __rem($val,$offset=0)
    $val = ( $val - $offset ) / $basis //calculate px offset before conversion
    unquote(__join($val,'rem'))


/* //////////////////////////////////////////////////////////////////////////////
// Units
////////////////////////////////////////////////////////////////////////////// */   
  
  __attr_class($name,$type=$attr_in)
    //fx_debug(arguments)
    $name = replace('\.', '', $name)
    $this = join('', '[class' $type '"' unquote($name) '"]' )
    return $this

  __attr_data($name,$val,$type=$attr_in)
    //fx_debug(arguments)
    $name = replace('\.', '', $name)
    $this = join('', '[data-' $name $type '"' unquote($val) '"]' )
    return $this


  __undot($class)
    return( replace('\.', '', $class))


  __attr_short($short,$long)
    return $short_attr ? $short : $long


  __to_class($prefix,$name)
    return join('',$dot,$prefix,$dash,$name)
