/* //////////////////////////////////////////////////////////////////////////////
// FX
////////////////////////////////////////////////////////////////////////////// */

  __join()
    join('',arguments)
    
