/* //////////////////////////////////////////////////////////////////////////////
// Util
////////////////////////////////////////////////////////////////////////////// */

  __join()
    join('',arguments)


  // __root()
  //   __var_def('size-2',$size-2)
  //   __var_def('size-3',$size-3)
  //   weight __var('size-3',$size-3)
   
/* //////////////////////////////////////////////////////////////////////////////
// FX
////////////////////////////////////////////////////////////////////////////// */
    
  __fontsize($ref="")
    $$s=$sizes
    $$l=$size_labels
    $ref = fx_str_len($ref) > 1 ? __join('-',$ref) : ""
    for $size in $$s
      $i = index($$s,$size)
      $lbl = $$l[$i]
      &{$pre_size}{$lbl}{$ref}
        font-size: $$s[$i]
 


  __basis_width($slot)
    round( percentage( $slot/$basis ), 3 )    
    
/* //////////////////////////////////////////////////////////////////////////////
// CSS Vars
////////////////////////////////////////////////////////////////////////////// */   

 //returns var(--val) or just val
  __var($key,$val)
    unquote(fx_css_var($key,$val))
 
 //--key:val
  __var_def($key,$val)
    if fx_css_canvar() == true
      add-property('--'+$key,$val)
      
/* //////////////////////////////////////////////////////////////////////////////
// Config
////////////////////////////////////////////////////////////////////////////// */  
 
  __config($key)
    $this = fx_get_config($key)
    if typeof($this) == 'string'
     unquote($this)
    else if typeof($this) == 'null'
      p($key + ' => ' +typeof($this))
    else 
      $this
    
 __device()
    1
/* //////////////////////////////////////////////////////////////////////////////
// Units
////////////////////////////////////////////////////////////////////////////// */   
  __em($val)
    p($val,$basis)
    $val = $val / $basis
    unquote(__join($val,'em'))

  __rem($val)
    $val = $val / $basis
    unquote(__join($val,'rem'))
