/* //////////////////////////////////////////////////////////////////////////////
// Equalize
///////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////
// Tester
///////////////////////////////////////////////////////////////////////////// */
.loaded.loaded-equalizer-base
  background green
  
/* //////////////////////////////////////////////////////////////////////////////
// Tags
///////////////////////////////////////////////////////////////////////////// */


*
  &, &:before, &:after
    box-sizing inherit

html
  font-size $rootfont
  line-height $line_height
  text-rendering optimizeLegibility
  box-sizing border-box
 
body
  font-size 1em
  //text-align left
  font-family $basefamily
  //default bdoy bg

html, body
  $box_reset()
  
/* //////////////////////////////////////////////////////////////////////////////
// Monkey Elements
///////////////////////////////////////////////////////////////////////////// */

canvas, article, aside, figcaption, figure, footer, 
header, hgroup, main, menu, nav, section, summary, details
  display block
  $box_reset()
  vertical-align baseline
  //font-family inherit

/* //////////////////////////////////////////////////////////////////////////////
// Hidden Elements
///////////////////////////////////////////////////////////////////////////// */

[hidden],
template
  display none

  
/* //////////////////////////////////////////////////////////////////////////////
// Table Elements
///////////////////////////////////////////////////////////////////////////// */

table 
  border-collapse collapse
  border-spacing 0
  
table, tbody, tfoot, thead, tr, th, td, caption
  $box_reset()
  //font-size 100%
  //font-weight normal
  //text-align left
  //font inherit
    
caption, th, td
  border-collapse separate
  border-spacing 0
  //vertical-align middle
  //text-align inherit


  
/* //////////////////////////////////////////////////////////////////////////////
// Summary
///////////////////////////////////////////////////////////////////////////// */
 

details
  display block

summary 
  display list-item
  
/* //////////////////////////////////////////////////////////////////////////////
// Input
///////////////////////////////////////////////////////////////////////////// */

form, label, legend, fieldset, output
  $box_reset()
  //font-size 100%
  //font inherit
  vertical-align baseline
  
// button, input, optgroup, select, textarea
//   margin 0
//   color inherit
//   font inherit

// button
//   width auto
//   overflow visible

label,button, 
input[type=button],
input[type=submit],
input[type=file],
  cursor pointer
  //-webkit-appearance button
  
button[disabled], html input[disabled]
  cursor default
    
button,
input,
select,
legend,
label,
optgroup,
textarea
  font-family $basefamily
  font-size inherit
  line-height inherit


input, select
  vertical-align middle
  margin 0

form
  width 100%

textarea
  overflow auto

input[type='search']
  box-sizing content-box

/* //////////////////////////////////////////////////////////////////////////////
// MEDIA 
///////////////////////////////////////////////////////////////////////////// */
img 
  max-width 100%
  height auto
  vertical-align  middle 
  border none


audio:not([controls])
  display none
  height 0

audio,
canvas,
progress,
video 
  display inline-block
  vertical-align baseline


embed,
iframe,
object,
audio,
video
  $box_reset()
  //height auto
  max-width 100%


/* //////////////////////////////////////////////////////////////////////////////
// EXT 
///////////////////////////////////////////////////////////////////////////// */

svg:not(:root)
  overflow hidden

hr
  display block
  box-sizing content-box
  height 0
  overflow visible


[tabindex="-1"]:focus
  outline: 0 !important

