
/* //////////////////////////////////////////////////////////////////////////////
// Tester
////////////////////////////////////////////////////////////////////////////// */
.loaded.loaded-modifiers-size
  background green
  


// primary
// secondary
// terciary

// debug
// info
// success
// warning
// error
// fatal
// danger
// trace


// xxsmall
// xsmall
// small
// medium
// normal
// large
// xlarge
// xxlarge

// fg-red

// bg-red
