
/* //////////////////////////////////////////////////////////////////////////////
// Tester
////////////////////////////////////////////////////////////////////////////// */
.loaded.loaded-modifiers-size
  background green
  

__fontsize()

+__desktop()
  __fontsize('desktop')

+__mobile()
  __fontsize('mobile')

+__tablet()
  __fontsize('tablet')
  
+__widehd()
  __fontsize('wide')

+__touch()
  __fontsize('touch')

+__hd_only()
  __fontsize('hd')

// primary
// secondary
// terciary

// debug
// info
// success
// warning
// error
// fatal
// danger
// trace


// xxsmall
// xsmall
// small
// medium
// normal
// large
// xlarge
// xxlarge

// fg-red

// bg-red

