/************************************************************/


__layout_brim(n)
  padding n 0 n 0
  
  
__layout_gutter(n)
  padding 0 n 0 n


__box_reset_full()
  margin 0
  padding 0
  border 0
  outline 0

__box_reset()
  margin 0
  padding 0

/************************************************************/

__media_from( $devive )
  @media screen and (min-width __rem($device))
    {block}
    
__media_to( $devive )
  @media screen and (max-width __rem($device))
    {block}



__nano()
   @media screen and (min-width __rem($nano))
     {block}

__nano_only()
   @media screen and (min-width __rem($nano)) and (max-width __rem($mobile))
     {block}   


__mobile()
   @media screen and (min-width __rem($mobile))
     {block}

__mobile_only()
   @media screen and (min-width __rem($mobile)) and (max-width __rem($tablet))
     {block}
     

   
__tablet()
   @media screen and (min-width __rem($tablet))
     {block}

__tablet_only()
   @media screen and (min-width __rem($tablet)) and (max-width __rem($desktop))
     {block}


__touch()
   @media screen and (max-width __rem($desktop))
     {block}
   




__desktop()
   @media screen and (min-width __rem($desktop))
     {block}
     
__desktop_only()
   @media screen and (min-width __rem($desktop)) and (max-width __rem($wide))
     {block}

   


__wide()
   @media screen and (min-width __rem($wide))
     {block}

__wide_only()
   @media screen and (min-width __rem($wide)) and (max-width __rem($full))
     {block}
   

__full()
   @media screen and (min-width __rem($full))
     {block}

__full_only()
   @media screen and (min-width __rem($full)) and (max-width __rem($jumbo))
     {block}
   
   
__jumbo()
   @media screen and (min-width __rem($jumbo))
     {block}

__jumbo_only()
   @media screen and (min-width __rem($jumbo)) and (max-width __rem($ultra))
     {block}
     

__hd_only()
   @media screen and (min-width __rem($wide)) and (max-width __rem($ultra))
     {block}
   



__ultra()
   @media screen and (min-width __rem($ultra))
     {block}



