

/************************************************************/


__layout_brim(n)
  padding n 0 n 0
  
  
__layout_gutter(n)
  padding 0 n 0 n


__box_reset_full()
  margin 0
  padding 0
  border 0
  outline 0

__box_reset()
  margin 0
  padding 0
  
__pseudo_border($t=1px,$hex)
  box-shadow: 
    $t 0 0 0 $hex, 
    0 $t 0 0 $hex,
    $t $t 0 0 $hex,  
    $t 0 0 0 $hex inset,
    0 $t 0 0 $hex inset

__pseudo_border_var($t=1px)
  box-shadow: 
    $t 0 0 0 var(--box-shadow-color), 
    0 $t 0 0 var(--box-shadow-color),
    $t $t 0 0 var(--box-shadow-color),  
    $t 0 0 0 var(--box-shadow-color) inset,
    0 $t 0 0 var(--box-shadow-color) inset


__grid_pre($cl_sub,$ext=false)
  {$cl_attr_pre_grid_any}{ __attr_class( $dash + $cl_sub, $attr_any ) }
    {block}
    if $ext  
      @extends {$ext}
  


__cell_pre($cl_sub,$ext=false)
  {$cl_attr_pre_cell_any}{ __attr_class( $dash + $cl_sub, $attr_any ) }
    {block}
    if $ext 
      @extends {$ext}


__adv_flex($i)

  $perc=round( ( 100/$i ), 3 )  
  $val=$perc+'%'
  $cache_id1 = 'maxflex' + __cachebust_str($i) + $perc
  
  $grid=s($cl_attr_pre_grid_any_s,$i) // [class~=grid-%s]
  
  {$grid} > {$cl_attr_pre_cell_any},
  {$grid} > {$cl_attr_cell} //lack of specific-_ for sake of simpl
    +cache($cache_id1) //magic cache
      flex-basis $val
      max-width  $val
      

  $p_basis = ($i*$atomic_basis);
  $val = $p_basis  +'%'
  $cache_id2 = 'maxflex' + __cachebust_str($i) + $p_basis  
  
  $cell = s($cl_attr_pre_cell_any_s,$i) // [class~=cell-%s]
  
  {$cl_attr_pre_grid_any} > {$cell},  //[class*=grid] > [class~=cell-%s]
  {$cl_attr_grid}         > {$cell}   //[class~=grid] > [class~=cell-%s]
    +cache($cache_id2) //magic cache
      flex-basis $val
      max-width  $val


/************************************************************/


__adv_flex_media($i,$label,$device) // any => *, same => ~
  $perc=round( ( 100/$i ), 3 )  
  $val=$perc+'%'
  $cache_id1 = 'max' + $device + __cachebust_str($i) + $perc
  //p($cache_id1)
  $this_s_class = s($cl_attr_screen_s,unquote($label),$i) //class*=["_%s-%s"]
  
  {$cl_attr_pre_grid_any}  > {$this_s_class},
  {$cl_attr_grid}  > {$this_s_class}
    +cache($cache_id1)
      flex-basis $val
      max-width  $val
      
  $p_basis = ($i*$atomic_basis);
  $val = $p_basis  +'%'
  $cache_id2 = 'max' + $device + __cachebust_str($i) + $p_basis  
  
  {$this_s_class} > {$cl_attr_pre_cell_any},
  {$this_s_class} > {$cl_attr_cell}
    +cache($cache_id2)
      flex-basis $val
      max-width  $val




/************************************************************/

