
__media_from( $devive )
  @media screen and (min-width __rem($device))
    {block}
    
__media_to( $devive )
  @media screen and (max-width __rem($device))
    {block}



__nano()
   @media screen and (min-width __rem($screen_nano))
     {block}

__nano_only()
   @media screen and (min-width __rem($screen_nano)) and (max-width __rem($screen_mobile))
     {block}   


__mobile()
   @media screen and (min-width __rem($screen_mobile))
     {block}

__mobile_only()
   @media screen and (min-width __rem($screen_mobile)) and (max-width __rem($screen_tablet))
     {block}
     

   
__tablet()
   @media screen and (min-width __rem($screen_tablet))
     {block}

__tablet_only()
   @media screen and (min-width __rem($screen_tablet)) and (max-width __rem($screen_desktop))
     {block}


__touch()
   @media screen and (max-width __rem($screen_desktop))
     {block}
   




__desktop()
   @media screen and (min-width __rem($screen_desktop))
     {block}
     
__desktop_only()
   @media screen and (min-width __rem($screen_desktop)) and (max-width __rem($screen_wide))
     {block}

   


__wide()
   @media screen and (min-width __rem($screen_wide))
     {block}

__wide_only()
   @media screen and (min-width __rem($screen_wide)) and (max-width __rem($screen_full))
     {block}
   

__full()
   @media screen and (min-width __rem($screen_full))
     {block}

__full_only()
   @media screen and (min-width __rem($screen_full)) and (max-width __rem($screen_jumbo))
     {block}
   
   
__jumbo()
   @media screen and (min-width __rem($screen_jumbo))
     {block}

__jumbo_only()
   @media screen and (min-width __rem($screen_jumbo)) and (max-width __rem($screen_ultra))
     {block}
     

__hd_only()
   @media screen and (min-width __rem($screen_wide)) and (max-width __rem($screen_ultra))
     {block}
   



__ultra()
   @media screen and (min-width __rem($screen_ultra))
     {block}



