/************************************************************/
__grid_pre_cell_star($cl_sub,$ext=false)
  $this_attr=__attr_class( $dash + $cl_sub, $attr_any )
  {$cl_attr_pre_grid_any}{$this_attr} > {$cl_attr_cell} > *,         // [class~=cell-]
  {$cl_attr_pre_grid_any}{$this_attr} > {$cl_attr_pre_cell_any} > *,  // [class*=cell-]
  {$cl_attr_pre_grid_any}{$this_attr} > {$cl_attr_pre_cell_under} > *
    {block}
    if $ext  
      @extends {$ext}
      

__grid_pre_cell($cl_sub,$ext=false)
  $this_attr=__attr_class( $dash + $cl_sub, $attr_any )
  {$cl_attr_pre_grid_any}{$this_attr} > {$cl_attr_cell},         // [class~=cell-]
  {$cl_attr_pre_grid_any}{$this_attr} > {$cl_attr_pre_cell_any},  // [class*=cell-]
  {$cl_attr_pre_grid_any}{$this_attr} > {$cl_attr_pre_cell_under}
    {block}
    if $ext  
      @extends {$ext}

__grid_pre($cl_sub,$ext=false)
  {$cl_attr_pre_grid_any}{ __attr_class( $dash + $cl_sub, $attr_any ) }
    {block}
    if $ext  
      @extends {$ext}
  
__cell_pre($cl_sub,$ext=false)
  {$cl_attr_pre_cell_any}{ __attr_class( $dash + $cl_sub, $attr_any ) }
    {block}
    if $ext 
      @extends {$ext}

__block_pre($cl_sub,$ext=false)
  {$cl_attr_block_pre_any}{ __attr_class( $dash + $cl_sub, $attr_any ) }
    {block}
    if $ext  
      @extends {$ext}


__block_pre_elm($el,$cl_sub,$ext=false)
  {$el}{$cl_attr_block_pre_any}{ __attr_class( $dash + $cl_sub, $attr_any ) }
    {block}
    if $ext  
      @extends {$ext}
      

__grid_spread($cl_sub)
  {$cl_attr_grid}           > {$cl_sub},
  {$cl_attr_pre_grid_any}   > {$cl_sub},
  {$cl_attr_pre_grid_under} > {$cl_sub}
    {block}

__cell_spread($cl_sub)
  {$cl_sub} > {$cl_attr_pre_cell_under},
  {$cl_sub} > {$cl_attr_pre_cell_any},
  {$cl_sub} > {$cl_attr_cell} //lack of specific-_ for sake of simpl
     {block}
     



/************************************************************/

__adv_flex($i)

  $perc= $i == 0 ? 0 : round( ( 100/$i ), 3 )  
  $pval=$perc+'%'
  
  if $i > 0
    $grid=s($cl_attr_pre_grid_any_s,$i) // [class~=grid-%s]
    
    +__cell_spread($grid)
       flex-basis $pval
       max-width  $pval
        

    $p_basis = ($i*$atomic_basis);
    $val = round( $p_basis, 3 )  +'%'

    $cell = s($cl_attr_pre_cell_any_s,$i) // [class~=cell-%s]
   

    +__grid_spread($cell)
      flex-basis $val
      max-width  $val


  $pull = s($cl_attr_data_pull_any_s,$i) 
      
  +__grid_spread($pull)
    margin-right $val

  $push = s($cl_attr_data_push_any_s,$i) 
      
  +__grid_spread($push)
    margin-left $val


/************************************************************/


__adv_flex_grid_media($i,$label,$device) // any => *, same => ~

  $this_s_class = s($cl_attr_screen_s,unquote($label),$i) //class*=["_%s-%s"]

  $p_basis = ($i*$atomic_basis);
  $val =  round( $p_basis, 3 )  + '%'
  
  if $i > 0
    +__grid_spread($this_s_class)
      flex-basis $val
      max-width  $val      

  $pull = s($cl_attr_data_pull_size_s,unquote($label),$i)
  +__grid_spread($pull)
    margin-right $val

  $push = s($cl_attr_data_push_size_s,unquote($label),$i)
  +__grid_spread($push)
    margin-left $val




__adv_flex_cell_media($i,$label,$device) 
  if $i > 0 
    $perc= $i == 0 ? 0 : round( ( 100/$i ), 3 )  
    $pval=$perc+'%'
    $cache_id1 = 'max' + $device + __cachebust_str($i) + $perc

    $this_s_class = s($cl_attr_screen_s,unquote($label),$i) //class*=["_%s-%s"]

    +__cell_spread($this_s_class)
      flex-basis $pval
      max-width  $pval


/************************************************************/


__adv_flex_make_set($label,$screen='qq')

  {__to_class($label,'h')},
  {__to_class('is-hidden',$screen)}
    display none
    
  //order matters - cuz precendence
  for $i in (0..$basis)
    __adv_flex_cell_media($i,$label,$screen)

  for $i in (0..$basis)
    __adv_flex_grid_media($i,$label,$screen)
