

/************************************************************/


__layout_brim(n)
  padding n 0 n 0
  
  
__layout_gutter(n)
  padding 0 n 0 n


__box_reset_full()
  margin 0
  padding 0
  border 0
  outline 0

__box_reset()
  margin 0
  padding 0
  
__pseudo_border($t=1px,$hex)
  box-shadow: 
    $t 0 0 0 $hex, 
    0 $t 0 0 $hex,
    $t $t 0 0 $hex,  
    $t 0 0 0 $hex inset,
    0 $t 0 0 $hex inset


/************************************************************/
