

.container
  margin 0 auto
  position relative
  
+__desktop()
  .container.is-desktop
    margin 0 auto
    position relative
    max-width __rem($screen_desktop)

  // +__mobile()
    
  // +__touch()
  

//.is-fluid
