


.container,
.container-fixed
  margin 0 auto
  position relative


.container-fixed:after,
.container:after
  content attr(max-width)
  position absolute
  bottom -10px
  right 0
  background $sand_green


$len = fx_make_device_iter(1)

for $l in (1..$len)
  $device = fx_make_device_iter()

  $this=fx_device_prop($device,'range')
  $min=$this[0]
  $max=$this[1]

  ref=lookup('__'+$device+'_only')

  $min= $min ? $min : 360 // min doesnt work well for nano 272 //apple watch smallest

  if ref is defined
    +ref()
      .container-fixed
        width __rem($min) //some funkiness here
        max-width __rem($max,16)
        --media $device
        --width $min $max

