// {$cl_ttl}
//   __fontsize( $sizes, $size_labels )

h1{$cl_ttl_is}
  font-size __rem($h1)
  
h2{$cl_ttl_is}
  font-size __rem($h2)
    
h3{$cl_ttl_is}
  font-size __rem($h3)
      
h4{$cl_ttl_is}
  font-size __rem($h4)

h5{$cl_ttl_is}
  font-size __rem($h5)

h6{$cl_ttl_is}
  font-size __rem($h6)

