
.media,
.media-item,
.media-list > li
  display flex
  flex 1 1 auto
  max-width 100%
  align-items stretch


.media > img,
.media > figure,
.media-item > img,
.media-item > figure,
.media-list > li > img,
.media-list > li > figure
[class*='media-']{$cl_attr_first}
  flex 0 0 auto
  order -1

[class*='media-']{$cl_attr_last}
  flex 0 0 auto
  order 9999

.media-group
  display block

// .media-list
//   border-left 1px solid #3399FF

.media-item,
.media-list > li:not(:last-child)
  border-bottom 1px dotted #333

