/* //////////////////////////////////////////////////////////////////////////////
// LUX!
////////////////////////////////////////////////////////////////////////////// */







/* //////////////////////////////////////////////////////////////////////////////
// Includes
////////////////////////////////////////////////////////////////////////////// */

use('config.js')
//use('str-len.js')

@require '../util'
@require './equalizer'
@require './layout'
@require './elements'



// $init = config('init')
// $devices = devices('desktop')  

// p('hi')
// p(values($init))
// p($devices)

