/* //////////////////////////////////////////////////////////////////////////////
// Tags
///////////////////////////////////////////////////////////////////////////// */

// 320  Mobile S
// 375  Mobile M
// 425  Mobile L
// 768  Tablet
// 1024 Laptop
// 1216 Widescreen
// 1440 Laptop L (Desktop)
// 1920 x1080
// 2560 4k


.stripes4
  background repeating-linear-gradient(45deg, #ccc, #ccc 30px, #dbdbdb 30px, #dbdbdb 60px)

.stripes5
  background repeating-linear-gradient(45deg, #efefef, #efefef 10px, #ddd 10px, #ddd 20px)



.ruler
  background linear-gradient(90deg, white 319px, #94d8Ed 0, #94d8Ed 320px, white 0,
                                    white 374px, #94d8Ed 0, #94d8Ed 375px, white 0,
                                    white 424px, #94d8Ed 0, #94d8Ed 425px, white 0,
                                    white 767px, #94d8Ed 0, #94d8Ed 768px, white 0,
                                    white 1023px, #94d8Ed 0, #94d8Ed 1024px, white 0,
                                    white 1215px, #94d8Ed 0, #94d8Ed 1216px, white 0,
                                    white 1439px, #94d8Ed 0, #94d8Ed 1440px, white 0,
                                    white 1919px, #94d8Ed 0, #94d8Ed 1920px, white 0,
                                    white 2559px, #94d8Ed 0, #94d8Ed 2560px, white 0)
  background-position 0


/* //////////////////////////////////////////////////////////////////////////////
// Media!
///////////////////////////////////////////////////////////////////////////// */

body.debug
    background $arch_6
    --debug-color $arch_3
    --box-shadow-color $arch_3
    --display-color  $scale_1 
      
button.as-display 
  border 1px solid #ccc
  font-family sans-serif
  font-size 14px
  float left
  margin 2px
  display none
  color white
  height 30px

$b4=__basis_width(4)

+__nano_only()
  body.debug.changes-bg
      background $arch_7
      --box-shadow-color $arch_3
      --debug-color $arch_3
      --display-color $scale_0 
  .as-display.is-nano
      display block
      background $scale_0
      color $arch_7
  .row > .nano-with-span-2
      flex none
      width $b4
      
+__mobile_only()
  body.debug.changes-bg
      background $arch_6
      --debug-color $arch_3
      --box-shadow-color $arch_3
      --display-color  $scale_1 
  .as-display.is-mobile
      display block
      background $scale_1
      color $arch_6
  .is-size-1-mobile
      font-size $h1
  .row > .mobile-with-span-2
      flex none
      width $b4
      

+__tablet_only()
  body.debug.changes-bg
      background  $arch_5
      --debug-color $arch_2
      --box-shadow-color $arch_2
      --display-color $scale_2 
  .as-display.is-tablet 
      display block
      background $scale_2 
      color $arch_5
  .is-size-1-tablet
      font-size $h1
  .row > .tablet-with-span-2
      flex none
      width $b4
          
//1024x768
+__desktop_only()
  body.debug.changes-bg
      background  $arch_4
      --debug-color $arch_1
      --box-shadow-color $arch_1
      --display-color $scale_3 
  .as-display.is-desktop
      display block
      background $scale_3
      color white
  .is-size-1-desktop
      font-size $h1
  .row > .desktop-with-span-2
      flex none
      width $b4
      
+__wide_only()
  body.debug.changes-bg
      background  $arch_3
      --debug-color $arch_6
      --box-shadow-color $arch_6
      --display-color $scale_4 
  .as-display.is-wide
      display block
      background $scale_4
      color $arch_0
  .row > .wide-with-span-2
      flex none
      width $b4

+__full_only()
  body.debug.changes-bg
      background $arch_2
      --debug-color $arch_5
      --box-shadow-color $arch_5
      --display-color $scale_5 
  .as-display.is-full
      display block
      background $scale_5 
      color $arch_1
  .is-size-1-full
      font-size $h1
  .row > .full-with-span-2
      flex none
      width $b4
      
//1920x1080      
+__jumbo_only()
  body.debug.changes-bg
      background $arch_1
      --debug-color $arch_5
      --box-shadow-color $arch_5
      --display-color $scale_6 
  .as-display.is-jumbo
      display block  
      background $scale_6 
      color $sand_cloud
  .row > .jumbo-with-span-2
      flex none
      width $b4

      
+__hd_only()
  .is-size-1-hd
      font-size $h1
  .row > .hd-with-span-2
      flex none
      width $b4

//2560x1440
+__ultra()
  body.debug.changes-bg
      background $arch_0
      --debug-color $arch_5
      --box-shadow-color $arch_5
      --display-color $scale_7 
  .as-display.is-ultra
      display block  
      background $scale_7 
      color $sand_cloud
  .is-size-1-ultra
      font-size $h1
  .row > .ultra-with-span-2
      flex none
      width $b4

/*
          family   : "Plain",
          active : false, 
          enabled : true,
          colors : [
           { hex : 'CC0000', name : 'Boston Red' },
           { hex : 'F2951B', name : 'Orange' },
           { hex : 'FCCC00', name : 'Yellowish' },
           { hex : '03C03C', name : 'Dark Green' },
           { hex : '007FFF', name : 'Azure' },
           { hex : 'C41BF2', name : 'Purple' },
           { hex : '333333', name : 'Charcoal' }  
          ]
        },

        {
          family : "Rainbow",
          active : false,
          enabled : true,
          colors: [
            { hex : 'F964CB', name : 'Sand Pink'   },
            { hex : 'FA6563', name : 'Sand Red'    },
            { hex : 'FFA64D', name : 'Sand Orange' },
            { hex : 'FFE056', name : 'Sand Yellow' },
            { hex : '94DA87', name : 'Sand Green'  },
            { hex : '75B8FB', name : 'Late Sky'    },
            { hex : '3399FF', name : 'Electric'    },
            { hex : '6868DC', name : 'Dusk'        },
            { hex : '404058', name : 'Twilight'    },
            { hex : '1C1D24', name : 'Dark Night'  },
            { hex : 'A9A9A9', name : 'Grey Bee'    },
            { hex : 'e0e0e0', name : 'Cloudy'      }
          ]
        },

        {
          family   : "Architect",
          active : true,
          enabled : true,
          colors: [
           { hex : 'CBEAF3', name : 'Arch 1' },
           { hex : '94d8Ed', name : 'Arch 2' },
           { hex : '55BCED', name : 'Arch 3' },
           { hex : '28A9E1', name : 'Arch 4' },   
           { hex : '147bbc', name : 'Arch 6' },
           { hex : '0a6ba8', name : 'Arch 7' },
           { hex : 'ddbb85', name : 'Accent' },
          ]
        }
    */
