#annotate 
  margin-top 4.5rem
  
  
  #inline div 
    color:#bbb
    
  #inline div *:first-child 
    color:#000

  .break 
    border:none; border-top:1px dotted var(--debug-color); margin 10px
  
  .grouping 
    border:1px dotted #75B8FB; background:#eee; padding:30px; margin:50px
    &.note 
        color:#FA6563; display:block; margin-bottom:5px; font-weight:bold
        
  .psuedo
    border:1px dashed #FFA64D; height:20px; position:relative
    &:before
      content: attr(title);
      top:20%;
      left:50%;
      position:absolute;
      color: #FFA64D;
      font-family:sans-serif;
      font-size:9px
  

  .ref   
    border:none; border:1px dashed #FFA64D; padding:1px 3px; 
    font-family:sans-serif; color:#FFA64D; font-size:10px; text-transform:uppercase; line-height:1.5pt 
    
  .notes,.note,.title
    font-family:sans-serif; color var(--debug-color); font-size:9px; padding 10px
  

  .title 
    text-transform:uppercase
    
  .code  
    display:none
    
  [data-tag] 
    border:1px dotted #75B8FB; margin:5px 0; padding:5px;
    &:after
          content: "";
          display: table;
          clear: both;
          
  .clearfix
    display:block
    &:after
      clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden


    
  &.bg-grid
      background-image:
        linear-gradient(rgba(255,255,255,.1) 0px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.1) 0px, transparent 1px),
        linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
      background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
      background-position:-1px -1px, -1px -1px, -1px -1px, -1px -1px;
      
  .has-notes
    padding 0 1rem
    padding-top 1rem
    margin-bottom 1rem
    
        
  .has-notes[title]:before
    content attr(title) 
    background-color:#EBF9FF
    font-size 0.7em
    padding 2px
    padding-left 5px
    color $lux_blue
    top -1px
    left 0
    position absolute
    min-width 100px
    text-align left
    z-index 100

  
/* //////////////////////////////////////////////////////////////////////////////
// Theme
///////////////////////////////////////////////////////////////////////////// */

.luxlogo
  background-image url(../img/lux.svg)
  background-repeat no-repeat
  background-size contain
  height 30px
  width 30px
  float left

.theme-unity .changes-shadow {$cl_layout_row} > div,
.theme-unity .changes-shadow {$cl_layout_col}
  __pseudo_border_var(1px)

.theme-unity .changes-shadow .thing
  background var(--debug-color)


.theme-unity .thing
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
  text-align center
  background rgba($lux_blue, .5)
  padding 2.1325rem 0
  border-radius 3px
  color white
  position relative
  min-width 0.625rem
  

.changes-background .thing
  background var(--display-color,$sand_sadcloud )


.theme-unity {$cl_layout_row} > div
  __pseudo_border(1px,#fff)

body.debug.theme-unity 
  color var(--debug-color)


.debug-display 
  position fixed
  bottom 0
  right 0
  z-index 999
  

.debug-links
  position fixed
  top 0
  left 0
  padding 1em
  width 100%
  border-bottom 1px solid white
  z-index 999
  a
    margin-top 3px
    margin-left 5px
    padding 5px
    font-size 10px
    display inline-block
    min-width 30px
    border 1px solid white
    color $lux_blue_2
    background #dbdbdb 
    
    
  section
    width 100%
    
  .curr
    background $lux_blue
    color white



