/* //////////////////////////////////////////////////////////////////////////////
// Theme
///////////////////////////////////////////////////////////////////////////// */


.archxray .changes-shadow {$cl_layout_row} > div,
.archxray .changes-shadow {$cl_layout_col}
  __pseudo_border_var(1px)

.archxray .changes-shadow .thing
  background var(--debug-color)

//fix scrolling on adapter pages
// html
//   overflow-y hidden !important


/* //////////////////////////////////////////////////////////////////////////////
// DEBUG Container
////////////////////////////////////////////////////////////////////////////// */


.archxray .thing
  background rgba($lux_blue, .5)
  padding 1rem 0
  color white
  min-width 0.625rem


.archxray .thing
  position relative
  text-align center
  border-radius 3px
  __inner_border(1px,$sand_sadcloud)


.archxray .r .thing
  background rgba($sand_red, .5) !important

.archxray .o .thing
  background rgba($sand_orange, .5) !important

.archxray .y .thing
  background rgba($sand_yellow, .5) !important

.archxray .g .thing
  background rgba($sand_green, .5) !important

.archxray .b .thing
  background rgba($sand_electric, .5) !important

.archxray .v .thing
  background rgba($sand_dusk, .5) !important

.archxray .u .thing
  background rgba($sand_puff2, .5) !important

.archxray .r1,
.archxray .r1 .thing
  background rgba($sand_red, 1) !important

.archxray .o1,
.archxray .o1 .thing
  background rgba($sand_orange, 1) !important

.archxray .y1,
.archxray .y1 .thing
  background rgba($sand_yellow, 1) !important

.archxray .g1,
.archxray .g1 .thing
  background rgba($sand_green, 1) !important

.archxray .b1,
.archxray .b1 .thing
  background rgba($sand_electric, 1) !important

.archxray .v1,
.archxray .v1 .thing
  background rgba($sand_dusk, 1) !important

.archxray .w1,
.archxray .w1 .thing
  background rgba($sand_puff, 1) !important

.archxray .u1,
.archxray .u1 .thing
  background rgba($sand_puff2, 1) !important


.archxray .s1 .thing
  background rgba($scale_0, .5)

.archxray .s2 .thing
  background rgba($scale_1, .5)

.archxray .s3 .thing
  background rgba($scale_2, .5)

.archxray .s4 .thing
  background rgba($scale_3, .5)

.archxray .s5 .thing
  background rgba($scale_4, .5)

.archxray .s6 .thing
  background rgba($scale_5, .5)

.archxray .s7 .thing
  background rgba($scale_6, .5)

.archxray .s8 .thing
  background rgba($scale_7, .5)


.archxray .thing.trunc
  text-overflow ellipsis
  overflow hidden
  white-space nowrap

//inner border for flush example
.archxray .has-fake-border .thing
  __inner_border(1px,#fff)

.archxray .with-fake-border[class*="cell-"][class*="-flush"] > div
  box-shadow none

.archxray .with-fake-border[class*="cell-"][class*="-flush"] .thing
  __inner_border(1px,#fff)

.archxray .changes-background .thing
  background var(--display-color,$sand_sadcloud )


.archxray {$cl_layout_row} > div,
.debug .with-fake-border {$cl_attr_pre_slot_any},
.debug .with-fake-border {$cl_attr_pre_slot_under},
.debug .with-fake-border .slot
  __pseudo_border(1px,#fff)

.cell.with-fake-border,
{$cl_attr_pre_cell_any}.with-fake-border
  padding 1rem
  border 1px dotted red
// .has-fake-border
//   __inner_border(1px,$sand_sadcloud)


/* //////////////////////////////////////////////////////////////////////////////
// DEBUG CELLS
////////////////////////////////////////////////////////////////////////////// */
.archxray {$cl_cells}
  margin 25px

.archxray {$cl_cells} article
  border-radius 5px
  color white

/* //////////////////////////////////////////////////////////////////////////////
// DEBUG Container
////////////////////////////////////////////////////////////////////////////// */

// .archxray .wrapper
//   margin 2rem

.archxray .container,
.archxray .container-fixed
  color var(--debug-color)
  background rgba($arch_3, .3) !important
  border 1px dashed var(--debug-color) !important
  margin-bottom 1rem
  padding 1rem

.archxray .pretty-content
  color #000 !important

/* //////////////////////////////////////////////////////////////////////////////
// DEBUG BLOCK
////////////////////////////////////////////////////////////////////////////// */
debug_color_outline($this,$fg=$this,$inv=false)
  if $inv
    if $this == $fg
      $fg = $sand_puff
    background rgba($this, 1)
    border 1px dashed $this
    color $fg
  else
    background rgba($this, .3)
    border 1px dashed $this
    color $fg

$placeholder_debug_r
  debug_color_outline($sand_red)

$placeholder_debug_o
  debug_color_outline($sand_orange)

$placeholder_debug_y
  debug_color_outline($sand_yellow)

$placeholder_debug_g
  debug_color_outline($sand_green)

$placeholder_debug_b
  debug_color_outline($sand_sky)

$placeholder_debug_v
  debug_color_outline($sand_grape)

$placeholder_debug_u
  debug_color_outline($sand_puff)

$placeholder_debug_p
  debug_color_outline($sand_pink)

.archxray .r
  @extends $placeholder_debug_r
.archxray .o
  @extends $placeholder_debug_o
.archxray .y
  @extends $placeholder_debug_y
.archxray .g
  @extends $placeholder_debug_g
.archxray .b
  @extends $placeholder_debug_b
.archxray .v
  @extends $placeholder_debug_v
.archxray .u
  @extends $placeholder_debug_u
.archxray .p
  @extends $placeholder_debug_p

/* //////////////////////////////////////////////////////////////////////////////
// DEBUG BLOCK
////////////////////////////////////////////////////////////////////////////// */
.archxray .xray-blocks.puff-blocks {$cl_attr_block_pre_any}:not(.block-spacer),
.archxray .xray-blocks.puff-blocks {$cl_block}:not(.block-spacer)
  padding 1rem
  position relative

.archxray .xray-blocks {$cl_blocks}:not(.stripes5)
  @extends $placeholder_debug_b

.archxray .xray-blocks {$cl_attr_block_pre_any}[class*='-red'],
.archxray .xray-blocks {$cl_attr_block_pre_any} > [class*='-red']
  debug_color_outline($sand_red,$sand_twilight,true)

.archxray .xray-blocks {$cl_attr_block_pre_any}[class*='-pink'],
.archxray .xray-blocks {$cl_attr_block_pre_any} > [class*='-pink']
  debug_color_outline($sand_pink,$sand_twilight,true)

.archxray .xray-blocks {$cl_attr_block_pre_any}[class*='-orange'],
.archxray .xray-blocks {$cl_attr_block_pre_any} > [class*='-orange']
  debug_color_outline($sand_orange,$sand_twilight,true)

.archxray .xray-blocks {$cl_attr_block_pre_any}[class*='-lime'],
.archxray .xray-blocks {$cl_attr_block_pre_any} > [class*='-lime']
  debug_color_outline($sand_lime,$sand_twilight,true)

.archxray .xray-blocks {$cl_attr_block_pre_any}[class*='-green'],
.archxray .xray-blocks {$cl_attr_block_pre_any} > [class*='-green']
  debug_color_outline($sand_green,$sand_twilight,true)

.archxray .xray-blocks {$cl_attr_block_pre_any}[class*='-blue'],
.archxray .xray-blocks {$cl_attr_block_pre_any} > [class*='-blue']
  debug_color_outline($sand_electric,$sand_twilight,true)

.archxray .xray-blocks {$cl_attr_block_pre_any}[class*='-cyan'],
.archxray .xray-blocks {$cl_attr_block_pre_any} > [class*='-cyan']
  debug_color_outline($sand_sky,$sand_twilight,true)


// .block > {$cl_attr_block_pre},
// .archxray .xray-blocks .block > .block
//   @extends $placeholder_debug_u
//   padding 0.5rem

.archxray .xray-blocks .blocks > {$cl_attr_block_pre_any}:only-child
  background transparent
  border none

.archxray .xray-blocks [class*='-item']
  debug_color_outline($sand_puff)
  padding 15px
  margin 15px
  border-radius 5px
// .archxray .xray-blocks {$cl_attr_block},
// .archxray .xray-blocks {$cl_attr_block_pre_any}
//   @extends $placeholder_debug_u
//   margin 2px







$placeholder_material_design_ico
  font-family Material
  font-size 16px
  position absolute
  color inherit


.archxray .xray-blocks .block-spacer
  debug_color_outline($sand_green)
  padding 10px
  border-radius 2px
  position realtive

.archxray .xray-blocks .block-spacer:after
  @extends $placeholder_material_design_ico
  content '\f84d'
  top 1px
  left 2px


.archxray .xray-blocks .block-breaker
  debug_color_outline($sand_pink)
  padding 10px
  border-radius 2px
  position realtive

.archxray .xray-blocks .block-breaker:after
  @extends $placeholder_material_design_ico
  content '\f60C'
  top 1px
  left 48%




.archxray .xray-blocks {$cl_attr_first}:after
  @extends $placeholder_material_design_ico
  content '\f792'
  top 0px
  left 0px

.archxray .xray-blocks {$cl_attr_last}:after
  @extends $placeholder_material_design_ico
  content '\f793'
  top 0px
  right 0px

.archxray .xray-blocks {$cl_attr_center}:after
  @extends $placeholder_material_design_ico
  content '\f61e'
  top 0px
  left 50%

.archxray .xray-blocks {$cl_attr_item}:after
  @extends $placeholder_material_design_ico
  content '\f4ca'
  top 0
  left 0



// .archxray .xray-blocks {$cl_attr_auto}:after
//   @extends $placeholder_material_design_ico
//   content '\f6c3'
//   top 0px
//   left 50%

+__mobile()
  .archxray .xray-blocks {$cl_attr_resp} {$cl_attr_first}:after
    @extends $placeholder_material_design_ico
    content '\f623'
    top 0px
    left 48%

  .archxray .xray-blocks {$cl_attr_resp} {$cl_attr_last}:after
    @extends $placeholder_material_design_ico
    content '\f621'
    top unset
    right unset
    bottom 0px !important
    left 48%

  .archxray .xray-blocks {$cl_attr_resp} {$cl_attr_center}:after
    @extends $placeholder_material_design_ico
    content '\f622'
    top 0px
    left 48%


  .archxray .xray-blocks .block-spacer:after
    @extends $placeholder_material_design_ico
    content '\f84e'
    top 1px
    left 48%


// .archxray {$cl_blocks}:not(.stripes5)
//   //NO:display block
//   padding 2rem
//   margin 1rem

//   //background rgba($sand_twilight, .5)

// .archxray input{$cl_attr_block_pre_any},
// .archxray textarea{$cl_attr_block_pre_any}
//   background white
//   color black !important

//  $debug_block_placeholder
//   padding 1rem
//   border-radius 5px
//   color white
//   __inner_border(1px,$sand_puff)

// .archxray .xray-blocks {$cl_attr_block_pre_any}:not(input):not(textarea):not(.block-spacer):not(.block-breaker),
// .archxray .xray-blocks {$cl_attr_block}
//   background rgba($lux_blue, .4)
//   @extends $debug_block_placeholder


// .archxray .xray-blocks {$cl_attr_block_pre_any} > {$cl_attr_block_pre_any}
//   background red

// // .archxray .xray-blocks {$cl_attr_block_pre_any}
// //   @extends $debug_block_placeholder

// .archxray .as-tiles article,
// .archxray {$cl_attr_block_pre_any}[class*='-tile'] article
//   padding 2rem 1.25rem !important

// .archxray .xray-blocks .block-breaker
//   $this=$sand_pink
//   background rgba($this, .3) !important
//   border 2px dashed $this
//   color $this


// .archxray .xray-blocks .block-breaker:after
//   font-size 12px
//   font-weight bold
//   content 'BRK'
//   text-transform uppercase


// .archxray .xray-blocks .block-spacer
//   $this=$sand_green
//   background rgba($this, .3) !important
//   border 2px dashed $this !important
//   color $this !important

// .archxray .xray-blocks .block-vspacer
//   $this=$sand_lime
//   background rgba($this, .3) !important
//   border 2px dashed $this !important
//   color $this !important


// .archxray .xray-blocks .block-vspacer:after,
// .archxray .xray-blocks .block-spacer:after
//   font-size 12px
//   font-weight bold
//   content 'BSP'
//   text-transform uppercase
//   text-align center

// .archxray .xray-blocks .block-vspacer:after
//   content 'VSP'

// .archxray .xray-blocks .blocks
//   $this=$sand_puff
//   background rgba($this, .5) !important
//   border 2px dashed $this !important
//   color $this !important



// .font-test:before {
//     font-family: Awzum;
//     content: "\f097";
// }
