/* //////////////////////////////////////////////////////////////////////////////
// Tags
///////////////////////////////////////////////////////////////////////////// */

// 320  Mobile S
// 375  Mobile M
// 425  Mobile L
// 768  Tablet
// 1024 Laptop
// 1216 Widescreen
// 1440 Laptop L (Desktop)
// 1920 x1080
// 2560 4k


.meep
  color red

.ruler
  background linear-gradient(90deg, white 319px, #94d8Ed 0, #94d8Ed 320px, white 0,
                                    white 374px, #94d8Ed 0, #94d8Ed 375px, white 0,
                                    white 424px, #94d8Ed 0, #94d8Ed 425px, white 0,
                                    white 767px, #94d8Ed 0, #94d8Ed 768px, white 0,
                                    white 1023px, #94d8Ed 0, #94d8Ed 1024px, white 0,
                                    white 1215px, #94d8Ed 0, #94d8Ed 1216px, white 0,
                                    white 1439px, #94d8Ed 0, #94d8Ed 1440px, white 0,
                                    white 1919px, #94d8Ed 0, #94d8Ed 1920px, white 0,
                                    white 2559px, #94d8Ed 0, #94d8Ed 2560px, white 0)
  background-position 0



.debug-display 
  position fixed
  bottom 0
  right 0
  
button.as-display 
  border 1px solid #ccc
  font-family sans-serif
  font-size 10px
  float left
  margin 2px
  display none
  color white


+__micro_only()
  body.debug
      background #ddd
  .as-display.is-micro
      display block
      background #000
  
+__mobile_only()
  body.debug
      background #94d8Ed
  .as-display.is-mobile
      display block
      background #0c4e7a
  .is-size-1-mobile
      font-size $h1
      

+__tablet_only()
  body.debug
      background #55BCED
  .as-display.is-tablet 
      display block
      background #0a6ba8
  .is-size-1-tablet
      font-size $h1
      
//1024x768
+__desktop_only()
  body.debug
      background #28A9E1
  .as-display.is-desktop
      display block
      background #147BBC
  .is-size-1-desktop
      font-size $h1
      
+__widehd_only()
  body.debug
      background #147bbc
  .as-display.is-wide
      display block
      background #28A9E1

+__fullhd_only()
  body.debug
      background #0a6ba8
  .as-display.is-full
      display block
      background #94D8ED
      
//1920x1080      
+__jumbohd_only()
  body.debug
      background #0a6ba8
  .as-display.is-jumbo
      display block  
      background #55BCED

      
+__hd_only()
  .is-size-1-hd
      font-size $h1

//2560x1440
+__ultrahd()
  body.debug
      background #0c4e7a
  .as-display.is-ultra
      display block  
      background #CBEAF3
  .is-size-1-ultra
      font-size $h1


/*
          family   : "Plain",
          active : false, 
          enabled : true,
          colors : [
           { hex : 'CC0000', name : 'Boston Red' },
           { hex : 'F2951B', name : 'Orange' },
           { hex : 'FCCC00', name : 'Yellowish' },
           { hex : '03C03C', name : 'Dark Green' },
           { hex : '007FFF', name : 'Azure' },
           { hex : 'C41BF2', name : 'Purple' },
           { hex : '333333', name : 'Charcoal' }  
          ]
        },

        {
          family : "Rainbow",
          active : false,
          enabled : true,
          colors: [
            { hex : 'F964CB', name : 'Sand Pink'   },
            { hex : 'FA6563', name : 'Sand Red'    },
            { hex : 'FFA64D', name : 'Sand Orange' },
            { hex : 'FFE056', name : 'Sand Yellow' },
            { hex : '94DA87', name : 'Sand Green'  },
            { hex : '75B8FB', name : 'Late Sky'    },
            { hex : '3399FF', name : 'Electric'    },
            { hex : '6868DC', name : 'Dusk'        },
            { hex : '404058', name : 'Twilight'    },
            { hex : '1C1D24', name : 'Dark Night'  },
            { hex : 'A9A9A9', name : 'Grey Bee'    },
            { hex : 'e0e0e0', name : 'Cloudy'      }
          ]
        },

        {
          family   : "Architect",
          active : true,
          enabled : true,
          colors: [
           { hex : 'CBEAF3', name : 'Arch 1' },
           { hex : '94d8Ed', name : 'Arch 2' },
           { hex : '55BCED', name : 'Arch 3' },
           { hex : '28A9E1', name : 'Arch 4' },   
           { hex : '147bbc', name : 'Arch 6' },
           { hex : '0a6ba8', name : 'Arch 7' },
           { hex : 'ddbb85', name : 'Accent' },
          ]
        }
    */
