/* //////////////////////////////////////////////////////////////////////////////
// Tester
////////////////////////////////////////////////////////////////////////////// */

.loaded.loaded-experimental
  background green
 
/* //////////////////////////////////////////////////////////////////////////////
// Theme
///////////////////////////////////////////////////////////////////////////// */

.theme-unity .group > div,
.theme-unity .panel
  border 1px dotted #e3e7ef 
  background #f7f8fb
  
