/* //////////////////////////////////////////////////////////////////////////////
// Tester
////////////////////////////////////////////////////////////////////////////// */

.loaded.loaded-standard
  background green

.debug .group
  border 1px dotted red
  
.debug .groups
  border 1px dotted orange
  
/* //////////////////////////////////////////////////////////////////////////////
// Includes
////////////////////////////////////////////////////////////////////////////// */

@require './standard-variants.styl'



/* /////////////////////////////////////////////////////////////////////////////
// Flexbox
///////////////////////////////////////////////////////////////////////////// */
  
  {$cl_group}
    display flex
    flex-wrap wrap
    align-items stretch
    
  {$cl_group_ch}
    flex-basis 0 
    flex-grow 1 
    flex-shrink  1 
    padding  .75rem
