
{$cl_flag_static}
  flex none
  
{$cl_flag_hidden}
  display none
  
{$cl_flag_block}
  display block     

//TODO CLEANUP SELECTORS  
{__attr_class( $under + 'w100', $attr_any )}
  flex-basis 100%
  
{__attr_class( $under + 'w75', $attr_any )}
  flex-basis 75%
      
{__attr_class( $under + 'w66', $attr_any )}
  flex-basis 66%
  
{__attr_class( $under + 'w50', $attr_any )}
  flex-basis 50%

{__attr_class( $under + 'w33', $attr_any )}
  flex-basis 33%

{__attr_class( $under + 'w25', $attr_any )}
  flex-basis 25%

