/*
no-margins
no-padding
no-radius
no-shadow
no-border
no-overflow


.is-marginless
  margin: 0 !important

.is-paddingless
  padding: 0 !important

.is-radiusless
  border-radius: 0 !important

.is-shadowless
  box-shadow: none !important



is-overlay
is-clipped
is-hidden
is-spaced
is-grouped
is-centered

is-floated

has-border
has-radius
has-shadow

{$cl_flag_xsm}
{$cl_flag_sm}
{$cl_flag_med}
{$cl_flag_lg}
{$cl_flag_xlg}



*/


{$cl_txt_cap}
  text-transform capitalize
  
{$cl_txt_low}
  text-transform lowercase
  
{$cl_txt_up}
  text-transform uppercase
  
{$cl_txt_ital}
  text-transform italic
 
//note same as equalizer sub.sup
{$cl_txt_sub}
  top -0.5em
  
{$cl_txt_sup}
  bottom  -0.25em
  
{$cl_txt_sub},{$cl_txt_sup}
  font-size       75%      //var this
  line-height     0
  position        relative
  vertical-align  baseline

