

__text_sizes()

+__nano()
  __text_sizes('nano')
  
+__mobile_only()
  __text_sizes('mobile')

+__tablet_only()
  __text_sizes('tablet')

+__touch()
  __text_sizes('touch','touch')
  
+__desktop()
  __text_sizes('desktop','desk')
  
+__ultra()
  __text_sizes('ultra')
