

__fontsize()

+__nano()
  __fontsize('nano')
  
+__mobile_only()
  __fontsize('mobile')

+__tablet_only()
  __fontsize('tablet')

+__touch()
  __fontsize('touch')
  
+__desktop()
  __fontsize('desktop')
  
+__ultra()
  __fontsize('ultra')
