
{$cl_flag_static}
  flex none

{$cl_flag_hidden}
  display none

{$cl_flag_block}
  display block

//TODO CLEANUP SELECTORS
{__attr_class( $under + 'w100', $attr_any )}
  flex-basis 100%

{__attr_class( $under + 'w75', $attr_any )}
  flex-basis 75%

{__attr_class( $under + 'w66', $attr_any )}
  flex-basis 66%

{__attr_class( $under + 'w50', $attr_any )}
  flex-basis 50%

{__attr_class( $under + 'w33', $attr_any )}
  flex-basis 33%

{__attr_class( $under + 'w25', $attr_any )}
  flex-basis 25%

//TODO: covert to $LANG variants
.flow   //cuz block conflicts with block class haha
	display block

.flow-inline
	display inline-block

.flex
	display flex

.flex-inline
	display inline-flex

.inline
	display inline

.none
	display none

.floar-lt
	float left

.float-rt
	float right

.clearfix
	&::after
	  content ""
	  display table
	  clear both


/* positioning */


.static
	position static

.fixed
	position fixed

.absolute
	position absolute

.relative
	position relative

.sticky
	position sticky

//TODO:add pins
//TODP:z-indexes
