
/* //////////////////////////////////////////////////////////////////////////////
// Tester
////////////////////////////////////////////////////////////////////////////// */
.loaded-core
  background green
  
/* //////////////////////////////////////////////////////////////////////////////
// Includes
////////////////////////////////////////////////////////////////////////////// */

use('../fx/str-len.js') //strlen
use('../fx/str-in.js') //char_in
use('../fx/wtf.js') //fx_wtf


@require '../lib/'
@require './debug'
@require './equalizer'
@require './elements'
@require './modifiers'
@require './layout'

