/* //////////////////////////////////////////////////////////////////////////////
// LUX!
////////////////////////////////////////////////////////////////////////////// */




// /* /////////////////////////////////////////////////////////////////////////////
// // Flexbox Spanning & Offsets
// ///////////////////////////////////////////////////////////////////////////// */

  //12 spanning elements
  for $i in (1..$basis)
     {$cl_layout_row} > {$pre_spans}{$i} // group => spans-x
        width round( percentage( $i/$basis ), 3 )
        flex none
        
     {$cl_layout_row} > {$pre_offsets}{$i} // group => offsets-x
        margin-{$offset_dir} round( percentage( $i/$basis ), 3 ) //LTR margin left RTL margin right


