
/* //////////////////////////////////////////////////////////////////////////////
// Includes
////////////////////////////////////////////////////////////////////////////// */

@require './layout-flex'
@require './layout-flex-adv'

.debug .basis:after
  content ''+$var_basis
  text-decoration-line none


