
/* //////////////////////////////////////////////////////////////////////////////
// Includes
////////////////////////////////////////////////////////////////////////////// */
@require './layout-flex-blocks'
@require './layout-flex-simple'
@require './layout-flex-adv'
@require './layout-truegrid'

.basis:after
  content ''+$basis
  text-decoration-line none

