/* //////////////////////////////////////////////////////////////////////////////
// LUX!
////////////////////////////////////////////////////////////////////////////// */



/* /////////////////////////////////////////////////////////////////////////////
// Flexbox
///////////////////////////////////////////////////////////////////////////// */
  
  {$cl_layout_row}
    display flex
    flex-wrap wrap
    align-items stretch
    
  {$cl_layout_col}
    flex-basis 0 
    flex-grow 1 
    flex-shrink  1 
    padding  .75rem


// /* /////////////////////////////////////////////////////////////////////////////
// // Flexbox Spanning & Offsets
// ///////////////////////////////////////////////////////////////////////////// */

  //12 spanning elements
  for $i in (1..$basis)
    $cl=__natural_basis($i) //what a pain in the butt
    {$cl},
    {$cl_layout_col}{$pre_is}{$i},
    {$cl_layout_row} > {$pre_spans}{$i} // group => spans-x
       width round( percentage( $i/$basis ), 3 )
       flex none
             
    {$cl_layout_row} > {$pre_offsets}{$i} // group => offsets-x
       margin-{$offset_dir} round( percentage( $i/$basis ), 3 ) //LTR margin left RTL margin right

     
  //50 ordering elements
  for $i in (0..$flex_max)// 12 per row default
     {$cl_layout_row} > {$pre_index}{$i}
        order $i
        
/* /////////////////////////////////////////////////////////////////////////////
// Flexbox Responsive
///////////////////////////////////////////////////////////////////////////// */

  +__touch()
    {$cl_layout_row}{$cl_flag_resp}
      flex-direction column
    
/* /////////////////////////////////////////////////////////////////////////////
// Flexbox -> Media + Spans and Offsets generator
///////////////////////////////////////////////////////////////////////////// */
  $len = fx_make_device_iter(1)
  //p('len',$len)
  
  for $i in (1..$len)
    $device=fx_make_device_iter()
    //p(v)
    ref=lookup('__'+$device+'_only')
    //p(ref,typeof(ref))
    
    if ref is defined
      +ref()
        {$cl_flag_hidden}-{$device}
          display none
        {$cl_flag_block}-{$device}
          display block     
        {$cl_flag_static}-{$device}
          flex none     
          
        for $i in (1..$basis)
          {$cl_layout_col}{$pre_is}{$i}-{$device},
          {$cl_layout_row} > {$pre_spans}{$i}-{$device} // group => spans-x
            width round( percentage( $i/$basis ), 3 )
            flex none
            
          {$cl_layout_row} > {$pre_offsets}{$i}-{$device} // group => offsets-x
            margin-{$offset_dir} round( percentage( $i/$basis ), 3 ) //LTR margin left RTL margin right
