

//TODO grids => cells, cell => slot

{$cl_cells}
  position relative

////////// AUTO GRID CELLS //////////

{$cl_attr_cell},
{$cl_attr_pre_cell_any},
{$cl_attr_pre_cell_under}
  position relative
  display flex
  flex-flow  row wrap
  margin 0
  //margin-bottom 1rem

$cellPlaceholder
  padding 0.5rem
  max-width 100%
  cursor help
  position relative

{$cl_attr_slot},
{$cl_attr_pre_slot_under}
  @extends $cellPlaceholder
  flex 1 1 0%

{$cl_attr_pre_slot_any}
  @extends $cellPlaceholder

{$cl_attr_pre_slot_any} //fixed %
  flex none

////////// GRID FROM CELL //////////


{$cl_attr_cell}{$cl_attr_slot} // .grid.cell
{$cl_attr_cell}{$cl_attr_pre_slot_any},
{$cl_attr_pre_cell_any}{$cl_attr_slot},
{$cl_attr_pre_cell_any}{$cl_attr_pre_slot_any}
  margin  0
  padding 0

/************************************************************/


//TODO:cleanup
{__attr_class('right-',$attr_any)},
{__attr_class('_r',$attr_any)}
  margin-right s("calc( var(--pull-index, 1) * %s%)",$atomic_basis)

{__attr_class('left-',$attr_any)},
{__attr_class('_l',$attr_any)}
  margin-left s("calc( var(--push-index, 1) * %s%)",$atomic_basis)


/************************************************************/

__plus_flex_make_set()

/************************************************************/

$len = fx_make_device_iter(1)

for $l in (1..$len)
  $device = fx_make_device_iter()
  $label  = fx_device_size($device) //sm md lg ..
  ref=lookup('__'+$device+'_only')
  if ref is defined
    +ref()

      __plus_flex_visibility($label,$device)

      //order matters - cuz precendence
      for $j in (0..$basis)
        __plus_flex_cell_media($j,$label,$device)

      for $j in (0..$basis)
        __plus_flex_slot_media($j,$label,$device)



      if $use_media_offets
        for $j in (0..$basis)
          __plus_margin_pull($j,$label,$device)
          __plus_margin_push($j,$label,$device)

/************************************************************/

+__touch()
  __plus_flex_make_set('touch','touch')

+__desktop()
  __plus_flex_make_set('desk','desk')

/************************************************************/

////////// GRID MODIFIERS //////////

$placeholder_grid_top
  align-items flex-start

$placeholder_grid_mid
  align-items center

$placeholder_grid_btm
  align-items flex-end



+__cell_pre($attr_flush)
  margin 0

+__cell_pre_slot($attr_flush)
  padding 0

+__cell_pre($attr_ctr)
  justify-content center

+__cell_pre($attr_right)
  margin-left auto
  justify-content flex-end
  align-self flex-end

+__cell_pre($attr_left)
  justify-content left


__cell_pre($attr_top, $placeholder_grid_top)

__cell_pre($attr_mid, $placeholder_grid_mid)

__cell_pre($attr_btm, $placeholder_grid_btm)


+__cell_pre('rev')
  flex-direction row-reverse

+__cell_pre('col')
  flex-direction column

+__cell_pre('crev')
  flex-direction column-reverse

+__cell_pre('nw')
  flex-wrap nowrap

+__cell_pre('bal')
  justify-content space-evenly

+__cell_pre('spread')
  justify-content space-between

+__cell_pre('dist')
  justify-content space-around


__slot_pre($attr_top, $placeholder_grid_top)

__slot_pre($attr_mid, $placeholder_grid_mid)

__slot_pre($attr_btm, $placeholder_grid_btm)


+__slot_pre($attr_first)
  order -1

+__slot_pre($attr_last)
  order 999

+__slot_pre($attr_fill)
  align-self stretch
  max-width unset
  flex 1 1 auto

+__slot_pre($attr_auto)
  align-self stretch

+__cell_pre_slot_star($attr_auto)
  height 100%


