/* //////////////////////////////////////////////////////////////////////////////
// LUX! Layouts 2
////////////////////////////////////////////////////////////////////////////// */


if( $flex_mode_adv ) 
  
  {$cl_flex_grids}
    position relative

  ////////// AUTO GRID CELLS //////////

  {$cl_attr_grid}, //class or attr? hmm
  {$cl_attr_pre_grid_any}
    border 1px dotted red
    padding 1rem
    display  flex 
    flex-flow  row wrap
    margin 0 -0.5rem 
    margin-bottom 1rem


  $cellPlaceholder
    padding 0.5rem
    max-width 100%
    cursor help
    position relative
     
  {$cl_attr_cell}
    @extends $cellPlaceholder
    flex 1 1 0% 

  {$cl_attr_pre_cell_any}
    @extends $cellPlaceholder
    

  {$cl_attr_pre_cell_any} //fixed %
    flex none
    

  ////////// GRID FROM CELL //////////


  {$cl_attr_grid}{$cl_attr_cell} // .grid.cell
  {$cl_attr_grid}{$cl_attr_pre_cell_any},
  {$cl_attr_pre_grid_any}{$cl_attr_cell},
  {$cl_attr_pre_grid_any}{$cl_attr_pre_cell_any}
    margin  0
    padding 0
    

  ////////////////////
    
  
  for $i in (1..$basis)
    __adv_flex($i)

  $len = fx_make_device_iter(1)

  for $l in (1..$len)
    $screen = fx_make_device_iter()
    $label  = fx_device_size($screen) //sm md lg ..
    ref=lookup('__'+$screen+'_only')
    if ref is defined
      +ref()
        for $i in (1..$basis)
          __adv_flex_media($i,$label,$screen)
          //__adv_flex_grid_media($i,$label,$screen)

      // if $cl  
    //   {$cl_flex_cell}{$cl}
    //     +cache('maxflexwidth' + $this) //magic cache
    //       flex-basis $this
    //       max-width  $this
      


    // [class*="cell"]
    //   background:red
    ////////// IN-CLASS MODIFIERS //////////

    // -center
    // -left
    // -right

    // -device

    // -top
    // -middle
    // -bottom

    // -reverse
    // -reverse-col
    // -reverse-row

    // -first
    // -last

    // -nogap

    // -equal (stretch)

    // -between (space between)

    // -push-left-${n}
    // -push-right-${n}

