
//TODO:fix $LANG refs



.layout
  __stretch_flex()
  flex-direction column
  //border: 1px solid black;


.layout .columns
  __stretch_flex()
  flex-direction row
  //background:var(--color-1);
  //border: 2px solid white;


.layout .rows
  __stretch_flex()
  flex-direction column
  //background:var(--color-4);
  //border: 2px solid black;


.layout .content
  display flex
  flex: 1 1 100%
  //background:var(--grey-2);


.layout .sidebar
  max-width 30%
  flex: 1 0 30%
  //background:var(--color-5);

.layout .rows > .sidebar
  max-width inherit
  flex-basis auto

